body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1,
h2 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

input,
button {
    padding: 5px;
    margin: 5px;
}

button {
    background-color: #84ff00;
    color: #000000;
    border: none;
    cursor: pointer;
}


p {
    margin: 10px 0;
    font-weight: bold;
}